services:
  hackmoney:
    image: derek2403/hackmoney:3.1
    container_name: hackmoney
    ports:
      - "3000:3000"
      - "3001:3001"
    volumes:
      - ./data:/app/data
    restart: unless-stopped
